<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtqgfsTvrkWn0CzUvl4YYOCO6ydO531Os</string>
	<key>GCM_SENDER_ID</key>
	<string>364449251896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ircRidePartner</string>
	<key>PROJECT_ID</key>
	<string>irc-ride-partner</string>
	<key>STORAGE_BUCKET</key>
	<string>irc-ride-partner.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364449251896:ios:432852f721d111c9e6dccd</string>
</dict>
</plist>